src/bleurt/__pycache__/*
src/bleurt/bleurt-base-128/*
src/bleurt/BLEURT-20/
src/factCC/factcc-checkpoint/
src/factCC/*.tar.gz
src/factCC/data-dev.jsonl
src/__pycache__/*
src/.dist/*
src/BARTScore/__pycache__/*
src/bert_score/__pycache__/*
src/bleu/__pycache__/*
src/bleu/.dist/*
src/factCC/__pycache__/*
src/FEQA/__pycache__/*
src/FEQA/bart_qg/checkpoints/checkpoint_best.pt
src/FEQA/qa_models/squad1.0/pytorch_model.bin
data/*
src/meteor/__pycache__/*
src/questeval/__pycache__/*
src/rouge/__pycache__/*
src/FEQA/bart_qg/checkpoints/*.pt
venv/*
.idea/*
build/*
*.egg*
